[user]
	email = bowdenm@spu.edu
	name = Madison Swain-Bowden
[alias]
    d = diff
    comm = commit -m
    co = checkout
    cob = checkout -b
    mast = checkout master
    cp = cherry-pick
    dog = log --all --decorate --oneline --graph
    p = push
    onto = rebase --onto
