[user]
	email = madison@aetherunbound.net
	name = Madison Swain-Bowden
[alias]
    d = diff
    comm = commit -m
    co = checkout
    ncob = checkout -b
    cob = !git m && git ncob
    mast = checkout master
    m = !git checkout main && git pull
    cp = cherry-pick
    dog = log --all --decorate --oneline --graph
    p = push
    onto = rebase --onto
    yeet = reset --hard HEAD
[push]
    autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
# git-delta config: https://crates.io/crates/git-delta
[core]
    pager = delta
	excludesFile = ~/.gitignore
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
