set mouse=a
set nu
set relativenumber
set ignorecase
set smartcase
set incsearch
set hlsearch
set virtualedit=onemore
"inoremap <C-BS> <C-w>
map <C-kDel> dw
imap <C-kDel> <esc>ldwi
noremap <C-Del> dw
imap <C-Del> <esc>ldwi
map <C-BS> <C-w>
imap <C-BS> <C-w>
noremap Y y$
noremap! <C-h> <C-w>
noremap <F4> <esc>:w<cr><esc>
inoremap <F4> <esc>:w<cr><esc>li
set autoindent
set smartindent
set wrap
set breakindent
set linebreak
set showbreak=\ \ 
set clipboard=unnamedplus
colors elflord
set splitright



" Latex stuff "
" REQUIRED. This makes vim invoke Latex-Suite when you open a tex file.
filetype plugin on
" au FileType tex map <buffer> <F3> :PdfLatex<CR>

" IMPORTANT: win32 users will need to have 'shellslash' set so that latex
" can be called correctly.
set shellslash

" IMPORTANT: grep will sometimes skip displaying the file name if you
" search in a singe file. This will confuse Latex-Suite. Set your grep
" program to always generate a file-name.
set grepprg=grep\ -nH\ $*

" OPTIONAL: This enables automatic indentation as you type.
filetype indent on

" OPTIONAL: Starting with Vim 7, the filetype of empty .tex files defaults to
" 'plaintex' instead of 'tex', which results in vim-latex not being loaded.
" The following changes the default filetype back to 'tex':
let g:tex_flavor='latex'


if has("autocmd")
	augroup prog
		au!
		au BufEnter *.tex map <F3> <esc>:w\|:!pdflatex -shell-escape % <cr> <esc>
		au BufEnter *.tex imap <F3> <esc>:w\|:!pdflatex -shell-escape % <cr> <esc>
		au BufEnter *.tex map <F6> <esc>:w\|:!bibtex %:r <cr> <esc>
		au BufEnter *.tex imap <F6> <esc>:w\|:!bibtex %:r <cr> <esc>
endif
